{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ product.product.image.url  }}" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="text-black">{{product.product.name}}</h2>
        <p>{{product.product.description}}</p>

        <p><strong class="text-primary h4">{{product.price}}TL</strong></p>


        <hr>
        <form action="{%  url 'add_basket_item'    product.id %}" method="POST" class="d-flex">

          <div class="mb-1 ">




            {% for variation in product.variations.all %}


            {% ifchanged variation.variation_id.name %}

            <h4>
              {{variation.variation_id.name }}
            </h4>

            {% endifchanged %}


            <label for="option-{{variation}}" class="flex m-2">
              <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio"
                  id="option-{{variation}}" name="{{variation.variation_id.name}}" value="{{variation}}" required></span> <span
                class="d-inline-block text-black"> {{variation}}</span>
            </label>

            {% endfor %}
            <div class="d-flex ">


              {% csrf_token %}
              <input type="number" class="form-control" name="quantity" min="0" step="1" placeholder="sayı giriniz">
              {% if is_in_basket %}
              <button class="buy-now btn btn-sm btn-primary" disabled="true">Add To Cart</button>
              {% else %}
              <button class="buy-now btn btn-sm btn-primary">Add To Cart</button>

              {% endif %}

        </form>
        <form action="{%  url 'add_favorite'    product.id %}" method="POST">
          {% csrf_token %}


          <button type="submit" class="buy-now btn ml-3"><span class="icon icon-heart-o"></span></button>

        </form>
      </div>

    </div>

    <hr>


    <div class="mb-5">


    </div>


    <div class="d-flex justify-content-between">








    </div>


  </div>
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

  var inputs = $('input[id^="option"]');

  // getAttribute("id").split("-")[1] 

  for (i = 0; i < length(inputs); i++) {

    inputs[i].eve
  }


</script>


{% endblock %}