{% extends "base/base.html" %}
{% block content %}
{% load crispy_forms_tags %}


<div class="site-section">
    <div class="container">
        <div class="row mb-5">
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Kullanıcı detayları</h2>
                <div class="p-3 p-lg-5 border">
                    {% if person_default_adress %}
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4 class="card-title">{{person_default_adress.first.adress.name}}</h4>

                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                <p> city:{{person_default_adress.first.adress.city}}</p>
                                <p> {{person_default_adress.first.adress.district}}/
                                    {{person_default_adress.first.adress.neighborhood}}</p>
                                <p></p>
                                <p> {{person_default_adress.first.adress.adress_line|truncatechars:9}}</p>
                                </p>
                                <a href="{% url 'user-adresses' %}" class="btn btn-primary">varsayılanı değiştiştir</a>
                            </div>
                        </div>


                    </div>
                    {% else %}
                    <a href="{% url 'user-adresses' %}" class="btn btn-primary">Lütfen varsayılan adress
                        belirleyiniz</a>
                    {% endif %}



                    {% if person_default_credit_card %}
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4 class="card-title">{{person_default_credit_card.first.name}}</h4>

                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                <p> </p>
                                <h3> {{person_default_credit_card.first.card_number}}
                                </h3>
                                <p>{{person_default_credit_card.first.expiration_date |date:"d /m/Y" }}</p>

                                <p> security code: {{person_default_credit_card.first.security_code}}</p>
                                </p>
                                <h5 class="text-right">{{person_default_credit_card.first.provider}}</h5>

                                <a href="{% url 'user_credit_cards' %}" class="btn btn-primary">varsayılanı kartı
                                    değiştiştir</a>
                            </div>
                        </div>


                    </div>
                    {% else %}
                    <a href="{% url 'user_credit_cards' %}" class="btn btn-primary">Lütfen varsayılan adress
                        belirleyiniz</a>
                    {% endif %}













                </div>
            </div>
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Siparişiniz</h2>
                        <div class="p-3 p-lg-5 border">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                    <th>Ürünler</th>
                                    <th>Toplam</th>
                                </thead>
                                <tbody>

                                    {% for basket_item in person_basket_items %}
                                    <tr>
                                        <td>{{basket_item.item.product.name}} <strong class="mx-2">x</strong>
                                            {{basket_item.quantity}} </td>
                                        <td>{{basket_item.item.price}} TL</td>
                                    </tr>
                                    {% endfor %}



                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                        <td class="text-black font-weight-bold"><strong>{{total_price}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>





                            <form method="post" action="{% url 'buy-basket' %}">
                                <input type="hidden" name = "order-total">
                                <input type="hidden" name = "adress_id">
                                <input type="hidden" name = "">

                                <button type="submit" class="btn btn-primary btn-block">Sipariş Ver</button>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- </form> -->
    </div>
</div>

{% endblock %}