{% extends "base/base.html" %}
{% block content %}
{% load crispy_forms_tags %}


<div class="col-md-8 mx-auto ">


  <div class="container py-5">
    <h1>profile</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}

      <button class="btn btn-primary" type="submit">Güncelle</button>

    </form>
    <div class="d-flex justify-content-between d-flex">
      <a href="{% url 'user-adresses'   %}" class="btn btn-primary mt-2">adresleri düzenle</a>
      <a href="{% url 'password-reset'   %}" class="btn btn-light">şifre sıfırlamak ister misiniz?</a>

      <form action="{% url 'delete-user'   %}" onSubmit="return confirm('silmek istediğinize emin misiniz?');">

        <button class="btn btn-danger  mt-2" type="submit">kullanıcıyı silmek ister misiniz</button>
      </form>

      <a href="{% url 'user_credit_cards'   %}" class="btn btn-primary">Kredi kartı </a>


      <a href="{% url 'orders'   %}" class="btn btn-primary">Siparişlerim </a>

    </div>


  </div>




  {% endblock %}