<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    {% include 'base/components/head.html' %}
    <title>Kaft </title>
</head>

<body>
    {% include 'base/components/header.html' %}

    {% if massages %}
    {% for massage in massages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}


    {% endif %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}

    {% endif %}


    {% block content %}

    {% endblock %}


    {% include 'base/components/footer.html' %}
    {% include 'base/components/footer_scripts.html' %}
</body>

</html>